<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <h1>{{title}}</h1>
        <form action="">
            <label for="amount">Amount</label>
            <input type="text" id="amount" value="1">
            <label for="from">From</label>
            <select name="currencies" id="from">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="SGD">SGD</option>
                <option value="MAD">MAD</option>
                <option value="MYR">MYR</option>
                <option value="AUD">AUD</option>
                <option value="JPY">JPY</option>
                <option value="CNH">CNH</option>
                <option value="HKD">HKD</option>
                <option value="CAD">CAD</option>
                <option value="INR">INR</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
                <option value="CAD">CAD</option>
                <option value="NZD">NZD</option>
                <option value="MXN">MXN</option>
            </select>
            <label for="to">To</label>
            <select name="currencies" id="to">
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
                <option value="SGD">SGD</option>
                <option value="MAD">MAD</option>
                <option value="MYR">MYR</option>
                <option value="AUD">AUD</option>
                <option value="JPY">JPY</option>
                <option value="CNH">CNH</option>
                <option value="HKD">HKD</option>
                <option value="CAD">CAD</option>
                <option value="INR">INR</option>
                <option value="DKK">DKK</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
                <option value="CAD">CAD</option>
                <option value="NZD">NZD</option>
                <option value="MXN">MXN</option>
            </select>
            <button>Submit</button>
        </form>
        <p id="message-1"></p>
    </div>
    <script src="/js/app.js"></script>
</body>

</html>